<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
	</configSections>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
	<activerecord>

		<config>
			<add key="connection.driver_class" value="NHibernate.Driver.SQLite20Driver" />
			<add key="dialect" value="NHibernate.Dialect.SQLiteDialect" />
			<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="connection.connection_string" value="Data Source=|DataDirectory|..\..\..\database\quartz_admin.db" />
			<add key="show_sql" value="true" />
			<add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
		</config>
	</activerecord>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="NHibernate.ByteCode.Castle" publicKeyToken="aa95f207798dfdb4" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.1.0.1003" newVersion="2.1.0.1003" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.2.2.400" newVersion="2.2.2.400" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.14.3" newVersion="2.0.14.3" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
